body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #0e4cb0;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #eadbdb;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li:hover {
    background-color: #e0e0e0;
}
main ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    list-style: none;
    padding: 0;
}
.green-li {
    background-color: #047804;
    color: #ffffff;
}
.blue-li {
    background-color: #3d93e4;
    color: #ffffff;
}
.purple-li {
    background-color: #470652;
    color: #ffffff;
}
.pink-li {
    background-color: #e93ecf;
    color: #ffffff;
}
.yellow-li {
    background-color: #e6d100;
    color: #ffffff;
}
.brown-li {
    background-color: #a0522d;
    color: #ffffff;
}
.red-li {
    background-color: #ff0000;
    color: #ffffff;
}
.dark-blue-li {
    background-color: #0b1fd4;
    color: #ffffff;
}
.white-li {
    background-color: #ffffff;
    color: #383535;
}
.section-space {
    height: 40px;
}
.black-li {
    background-color: #000000;
    color: #ffffff;
}
.section-spaces {
    height: 20px;
}
